{% load static %}
<a id="panelMetaData" data-species-count="{{species_count}}" data-total-obs="{{total_obs}}"></a>

{% if bird_list %}
<!-- 	<div class="form-check form-check-reverse">
	  <input class="form-check-input" type="checkbox" checked id="showAllCheckBox">
	  <label class="form-check-label" for="showAllCheckBox">
	    Show All
	  </label>
	</div>	 -->

	{% for bird in bird_list %}
	
	<div class="card mb-2 species_card" id="{{bird.taxon.id}}">
		<div class="row g-0">
			<div class="col-5 col-md-12">
				<img src="{{bird.taxon.default_photo.medium_url}}" width="{{bird.taxon.default_photo.original_dimensions.width}}" height="{{bird.taxon.default_photo.original_dimensions.height}}" class="card-img-top img-fluid" alt="...">
				<div class="card-img-overlay" data-type="species_card" data-taxon-id="{{bird.taxon.id}}" data-id="{{forloop.counter}}"data-common-name="{{bird.taxon.preferred_common_name}}" style="padding: 0" >
					<div class="position-absolute" style="right: 0.5em">
					  <!-- <input class="form-check-input card-check" type="checkbox" data-taxon-id="{{bird.taxon.id}}" checked aria-label="..."> -->
					</div>
				</div>
				<figcaption class="figure-caption text-center" style="font-size: xx-small;">{{bird.taxon.default_photo.attribution}}</figcaption>
			</div>
			<div class="col-7 col-md-12">
			  <div class="card-body p-1">
			    <h6 class="card-title mb-0">{{bird.taxon.preferred_common_name}}</h6>
			    <p class="mb-0" ><small><em>{{bird.taxon.name}}</em></small></p>
			    <p class="mb-0"><small><span class="badge rounded-pill position-relative text-bg-secondary">{{bird.count}}</span> sighting{% if bird.count > 1 %}s{% endif %}</small></p>
			    {% if bird.taxon.wikipedia_url %}
			    	<a href="{{bird.taxon.wikipedia_url}}" target="_blank" class="card-link position-relative"><small>Read More</small></a>
			    {% endif %}
			  </div>
			</div>
		</div>
	</div>

	{% endfor %}

{% else %}
    <h5>No {{category}} :(</h5>
{% endif %}




