{% load static %}
{% load humanize %}

{% if page == '1' %}
<a id="panelMetaData" class="display-none" data-species-count="{{species_count}}" data-total-obs="{{total_obs}}"></a>
<h3>{{ category|capfirst }}</h3>
<div class="row justify-content-center">
{% endif %}

{% if bird_list %}
	{% for bird in bird_list %}
	<div class="species_div {% if forloop.last %}last-card page-{{page}}{% endif %}" {%if forloop.last %} data-page="{{page}}" {% endif %}> <!-- class="{% cycle 'col-auto' 'col-auto' %} -->
		<div class="card species_card" id="{{bird.taxon.id}}" data-wiki="{{bird.taxon.wikipedia_url}}">

			<div class="card-body p-1">
				<p class="mb-0 fw-bold obs-name" style="font-size: smaller">{{bird.taxon.preferred_common_name}}</p>
				<p class="mb-0" style="font-size: smaller; line-height: 1em"><small><em>{{bird.taxon.name}}</em></small></p>
			</div>

			<img src="{{bird.taxon.default_photo.medium_url}}" loading="lazy" width="{{bird.taxon.default_photo.original_dimensions.width}}" height="{{bird.taxon.default_photo.original_dimensions.height}}" class="card-img species_img " alt="...">
					
			<div class="card-img-overlay p-0" data-type="species_card" data-taxon-id="{{bird.taxon.id}}" data-id="{{forloop.counter}}" data-common-name="{{bird.taxon.preferred_common_name}}" data-wiki="{{bird.taxon.wikipedia_url}}">
			</div>

			<figcaption class="figure-caption text-center" style="font-size: xx-small;">{{bird.taxon.default_photo.attribution}}</figcaption>
			<p class="ms-1 mb-0 fw-bold" style="font-size: smaller"><small>{{ bird.count|intcomma }} sighting{{ bird.count|pluralize }}</small></p>
			<div class="wiki_div p-1 position-relative" style="font-size: smaller"></div>
			{%if forloop.last %}
			<div class="ms-1 batch-load display-none">
				<div class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
				<div class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
				<div class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
			</div>
			{% endif %}

		</div>
	</div>

	{% endfor %}

{% else %}
	{% if page == '1' %}
    <h5>No {{category}} :(</h5>
  {% endif %}
{% endif %}

{% if page == '1' %}
</div>
{% endif %}


