.bw {
  filter: grayscale(100%);
}

.geolocate {
  left: .5em;
  top: 4em;
  background-color: white; 
}

.ol-touch .geolocate {
  top: 4em;
}

.ol-rotate {
  top: unset;
  right: unset;
  bottom: 0.5em;
  left: 0.5em;

}

.ol-touch .ol-control button{
  font-size: 1em;
}

.font-small {
  font-size: x-small;
}

#map {
  width: 100%; 
}


@media (max-width: 768px) {
  .mobile-70 {height:70vh}
  .mobile-30 {height:30vh}
}

@media (min-width: 768px) {
  .mobile-70 {height: 100vh}
  .mobile-30 {height: 100vh}
}


figure {
  margin: 0
}

.blockquote-footer {
  margin-bottom: 0;
}

.blockquote {
  font-size: small !important;
}