.bw {
  filter: grayscale(100%);
}

.geolocate {
  left: .5em;
  top: 3em;
  background-color: white; 
}

.ol-touch .geolocate {
  top: 3em;
}

.ol-rotate {
  top: unset;
  right: unset;
  bottom: 0.5em;
  left: 0.5em;

}

.ol-zoom {
  top: unset;
  left: unset;
  bottom: 2.5em;
  right: 0.5em;
}

.ol-touch .ol-control button{
  font-size: 1em;
}

.font-small {
  font-size: x-small;
}

#map {
  width: 100%; 
  height: 550px;
  max-height: 100vh;
}

#species-panel {
  width: 100%;
}


@media (max-width: 768px) {
  .species_div {height: auto; min-width: 6em; width: 100%;} 
  .species_img {height: auto; min-width: 6em; width: 100%;}
}

@media (min-width: 768px) {
  .species_div {height: auto; min-width: 10em; width: 60%; max-width: 700px} 
  .species_img {height: auto; min-width: 10em; width: 100%}
}

.species_img {
  border-radius: unset;
}

.species_card{
  border-radius: unset;
  border: none;
}

figure {
  margin: 0
}

.blockquote-footer {
  margin-bottom: 0;
}

.blockquote {
  font-size: small !important;
}

.display-none {
  display: none;
}